<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Leagueinator.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Leagueinator.GUI.Properties.Settings>
            <setting name="Event_Button_Active" serializeAs="String">
                <value>50, 255, 255</value>
            </setting>
            <setting name="Event_Button_Hover" serializeAs="String">
                <value>150, 255, 255</value>
            </setting>
            <setting name="Event_Button_Idle" serializeAs="String">
                <value>0, 200, 200</value>
            </setting>
        </Leagueinator.GUI.Properties.Settings>
    </userSettings>
</configuration>